:root {
  --bg-color: hsl(0, 0%, 8%);
  --green: hsl(153, 71%, 59%);
  --dark-grey: hsl(0, 0%, 14%);
  --grey: hsl(0, 0%, 85%);
  --white: hsl(0, 0%, 100%);
  --validation: hsl(7, 100%, 68%);
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs--48: 3rem;
  --fs--24: 1.5rem;
  --fs--72: 4.5rem;
  --fs--40: 2.5rem;
  --fs--32: 2rem;
  --fs--16: 1rem;
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
  --form-success: hsl(153, 71%, 59%);
  --form-error: hsl(7, 100%, 68%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--white);
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--fs-18);
  line-height: 1.56;
  overflow-x: hidden;
}
.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}
.header {
  margin-top: 20px;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}
.header__logo {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fs--24);
  font-weight: bold;
  line-height: 1.33;
  transition: color var(--transition);
  flex: 1 0 100%;
}
a:hover {
  color: var(--green);
}
svg path {
  transition: fill var(--transition);
}
a:hover > svg > path {
  fill: var(--green);
}

.header__social svg {
  display: block;
}

@media (min-width: 48em) {
  .wrapper {
    width: calc(100% - 3.75em);
  }
  .header__logo {
    font-size: var(--fs--32);
    line-height: 1;
    letter-spacing: -0.44px;
  }
  .header {
    margin-top: 29px;
    display: flex;
    justify-content: center;
  }
  .header__nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
    width: 44.25rem;
  }
  .header__logo {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }
}
@media (min-width: 90em) {
  .header__nav {
    width: 67.5rem;
  }
  .header {
    margin-top: 43px;
    display: flex;
    justify-content: center;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__img {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
}
.hero__circle {
  position: absolute;
  top: 254px;
  right: 0;
  translate: 50%;
}
.hero__rings {
  position: absolute;
  right: 50%;
  top: 124px;
  z-index: -2;
}
.hero__header {
  margin-top: 331px;
  font-size: var(--fs--40);
  line-height: 1;
  text-align: center;
  letter-spacing: -1.14px;
  margin-bottom: 0;
}

.hero__underline {
  background-image: linear-gradient(
    to right,
    var(--green) 75%,
    var(--green) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.hero__header > br {
  display: none;
}

.hero__text {
  font-size: var(--fs--16);
  line-height: 1.625;
  text-align: center;
  margin-block: 24px;
  color: var(--grey);
}

.hero__link {
  display: inline-block;
  text-align: center;
  font-size: var(--fs--16);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.625;
  letter-spacing: 2.29px;
  border-bottom: 2px solid var(--green);
  padding-bottom: 10px;
}

@media (min-width: 48em) {
  .hero {
    justify-content: left;
    align-items: flex-start;
    width: 27.8125rem;
    padding-block-start: 82px;
  }
  .hero__img {
    right: 0;
    translate: 0;
    z-index: -1;
    left: auto;
  }
  .hero__rings {
    top: 86px;
    left: 0;
    right: auto;
    translate: -50%;
  }
  .hero__circle {
    top: 470px;
    right: 0;

    translate: 50%;
  }
  .hero__header {
    margin-top: 0;
    font-size: var(--fs--72);
    letter-spacing: -2.05px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 60px;

    height: 14.5625rem;
  }
  .hero__header > br {
    display: inline-block;
  }
  .hero__text {
    margin-block: 0;
    margin-block-end: 34px;
    text-align: left;
    font-size: var(--fs-18);
    line-height: 1.55;
  }
}
@media (min-width: 90em) {
  .hero {
    width: 44.125rem;
    padding-block-start: 127px;
  }
  .hero__header {
    font-size: var(--fs-88);
    letter-spacing: -2.5px;
    margin-block-end: 43px;
    height: 11.5rem;
  }
  .hero__header > br {
    display: none;
  }
  .hero__text {
    width: 27.8125rem;
    margin-block-end: 66px;
  }
  .wrapper {
    position: relative;
  }
  .hero__img {
    right: 0;
    top: -75px;
  }
  .hero__circle {
    top: 446px;
    left: auto;
    right: 445px;
    translate: 50%;
  }
  .hero__rings {
    top: 62px;
    left: 0;
    right: auto;
    translate: -50%;
  }
}
.skills {
  position: relative;
  margin-block: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-block: 1px solid #979797;
}
.skills__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block: 40px;
}
.skills__title {
  font-size: var(--fs--32);
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.25;
  margin-bottom: 1px;
}
.skills__item {
  font-size: var(--fs--16);
  line-height: 1.625;
  color: var(--grey);
}
.skills__item.skills__item:not(:last-child) {
  margin-block-end: 24px;
}
.skills__rings {
  position: absolute;
  bottom: -64.5px;
  left: 50%;
}

@media (min-width: 48em) {
  .skills {
    border-block-end: none;
  }
  .skills__list {
    width: 708px;
    display: grid;
    border: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 0;
    margin-block: 0;
    margin-block-start: 52px;
  }
  .skills__item {
    display: inline-block;
    text-align: start;
    font-size: var(--fs-18);
    line-height: 1.55;
  }
  .skills__item.skills__item:not(:last-child) {
    margin-block-end: 0;
  }

  .skills__title {
    font-size: var(--fs--48);
    line-height: 1.16;
    letter-spacing: -1.5px;
    font-weight: bold;
    margin-bottom: 14px;
    display: inline-block;
  }
  .skills__rings {
    transform: translateY(50%);
    bottom: 0;
    left: 540px;
  }
}
@media (min-width: 90em) {
  .skills {
    margin-block-start: 219px;
  }
  .skills__list {
    width: 69.375rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 32px;
    margin-block-start: 72px;
  }
  .skills__rings {
    transform: translateX(0);
    bottom: -55px;
    left: auto;
    right: -362px;
  }
}
.projects__container {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}

.projects__title {
  font-size: var(--fs--40);
  font-weight: bold;
  letter-spacing: -1.14px;
  line-height: 1;
  margin: 0;
}
.project {
  grid-column: 1;
}

.projects__img {
  width: 100%;
  height: auto;
}
.projects__link {
  text-align: center;
  font-size: var(--fs--16);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.625;
  letter-spacing: 2.29px;
  border-bottom: 2px solid var(--green);
  padding-bottom: 10px;
}
.project .projects__list {
  list-style-type: none;
  padding: 0;
}

.projects {
  margin-block: 80px;
}
.projects__menu {
  display: flex;
  justify-content: space-between;
  margin-block-end: 40px;
}
.projects__name {
  font-size: var(--fs--24);
  font-weight: bold;
  line-height: 1.33;
  text-transform: uppercase;
  margin-block-end: 7px;
  margin-block-start: 20px;
}
.projects__tags {
  font-size: var(--fs-18);
  text-transform: uppercase;
  line-height: 1.55;
  margin-block-end: 20px;
  display: flex;
  justify-content: left;
  gap: 12px;
  color: var(--grey);
}
.projects__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.underline {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--fs--16);
  font-weight: bold;
  line-height: 1.625;
  letter-spacing: 2.29px;
  border-bottom: 2px solid var(--green);
  padding-bottom: 10px;
}
@media (min-width: 48em) {
  .projects {
    margin-block: 100px;
  }
  .projects__title {
    font-size: var(--fs--72);
    font-weight: bold;
    letter-spacing: -2.05px;
  }
  .projects__menu {
    align-items: center;
  }
  .projects__link {
    display: inline-block;
  }
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 24px;
  }
  .projects__tags {
    margin-block-start: 0;
  }
  .project {
    grid-column: auto;
  }
}
@media (min-width: 90em) {
  .projects {
    margin-block: 140px 139px;
  }
  .projects__title {
    font-size: var(--fs-88);
    letter-spacing: -2.5px;
  }
  .projects__container {
    gap: 69px 30px;
  }
  .project {
    position: relative;
  }
  .projects__links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    width: 33.75rem;
    height: 25rem;
    top: 0;
    transform: translateY(100%);
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .projects__tags {
    margin-block-end: 0;
  }
  .project:hover .projects__links {
    opacity: 0.5;
    transform: translateY(0);
  }
}

.contact {
  background-color: var(--dark-grey);
  padding-block-start: 66px;
  padding-block-end: 87px;
  position: relative;
  border-bottom: 1px solid #979797;
}
.contact__container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-inline: 16px;
}
.contact__text {
  height: 138px;
  margin-block-end: 50px;
}

.contact__title {
  font-size: var(--fs--40);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1.14px;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
.contact__paragraph {
  font-size: var(--fs--16);
  line-height: 1.625;
  color: var(--grey);
  margin-block-end: 50px;
}
.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.visibility-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

input {
  text-align: start;
  text-transform: uppercase;
  font-size: var(--fs--16);
  line-height: 1.625;
  letter-spacing: -0.22px;
  padding-left: 24px;
}
input:focus:invalid {
  background-image: url(/images/icon-invalid.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  border-bottom: 1px solid var(--validation);
}
input:focus:valid {
  border-bottom: 1px solid var(--green);
}
textarea {
  text-align: start;
  text-transform: uppercase;
  font-size: var(--fs--16);
  line-height: 1.625;
  letter-spacing: -0.22px;
  padding-left: 24px;
  font-family: 'Space Grotesk';
}
textarea:focus:invalid {
  background-image: url(/images/icon-invalid.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 10px;
  border-bottom: 1px solid var(--validation);
}
textarea:focus:valid {
  border-bottom: 1px solid var(--green);
}
.form__input {
  box-sizing: border-box;
  border: none;
  background-color: var(--dark-grey);
  border-bottom: 1px solid #979797;
  width: 100%;
  height: 43px;
  color: var(--white);
  outline: none;
  margin-block-end: 32px;
}
.form__input_name {
  padding-block-end: 22px;
}
.form__input_email {
  padding-block-end: 16px;
}
.form__textarea {
  box-sizing: border-box;
  border: none;
  background-color: var(--dark-grey);
  border-bottom: 1px solid #979797;
  background: transparent;
  margin-bottom: 32px;
  height: 107px;
  color: var(--white);
  outline: none;
  resize: none;
}
.form__valid_text {
  position: relative;
  padding-right: 30px;
}
.label__name {
  position: relative;
}
.form__error-message {
  color: var(--validation);
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: -0.17px;
  margin-top: -24px;
  margin-bottom: 32px;
  display: none;
  text-align: right;
}
.form__input:focus:invalid + .form__error-message,
.form__textarea:focus:invalid + .form__error-message {
  display: block;
}
.contact__rings {
  position: absolute;
  bottom: 97px;
  left: 50%;
  translate: -100%;
}

.form__button {
  background: transparent;
  border: none;
  font-family: 'Space Grotesk', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: 0;
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs--16);
  font-weight: bold;
  line-height: 1.625;
  letter-spacing: 2.29px;
  border-bottom: 2px solid var(--green);
  padding: 0;
  padding-bottom: 10px;
}
.form__button:hover {
  color: var(--green);
  transition: 0.7s;
}

@media (min-width: 48em) {
  .contact__container {
    width: 445px;
  }
  .contact {
    display: flex;
    justify-content: center;
    padding-block-start: 60px;
    padding-block-end: 92px;
  }
  .contact__title {
    font-size: var(--fs--72);
    font-weight: bold;
    letter-spacing: -2.05px;
  }
  .contact__paragraph {
    font-size: var(--fs-18);
    line-height: 1.55;
    margin-block: 20px 48px;
  }
  .contact__rings {
    left: -372px;
    bottom: 27px;
    translate: 0;
  }
}

.footer {
  padding-block-start: 32px;
  background-color: var(--dark-grey);
  padding-block-end: 60px;
}

@media (min-width: 48em) {
  .footer {
    padding-block-start: 30px;
    padding-block-end: 40px;
  }
  .footer__container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 90em) {
  .contact__container {
    width: 1110px;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__title {
    font-size: var(--fs-88);
    letter-spacing: -2.5px;
    text-align: start;
  }
  .contact__text {
    width: 445px;
    text-align: start;
  }
  .contact__paragraph {
    margin-block: 36px 0px;
  }
  .form__container {
    width: 445px;
  }
  .footer {
    padding-block-start: 47px;
  }
  .contact__rings {
    bottom: 47px;
    left: -205px;
  }
}
.attribution {
  text-align: center;
  margin-top: 100px;
}
